* {
  user-select: none;
}

.alt-font-1 {
  /* font-family: "Ubuntu Mono", sans-serif; */
  font-family: "Fira Code", sans-serif;
}

.override-pointer-events > div[style] {
  pointer-events: auto !important;
}


.order-summary {
  @apply flex rounded-lg border border-l-zinc-200;
}
.order-summary > div {
  @apply h-full min-w-[128px] flex-1 border-r border-zinc-200;
  @apply last:border-r-0;
  @apply p-6;
}